<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View Products</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <main>
            <navmenu></navmenu>

            <h1>Welcome to the Doohickies and Widgets Shop</h1>

            <div class="categories"><button v-for="category in categories" @click.prevent="getCategories()">{{category}}</button></div>

            <table>
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>List Price</th>
                        <th>Quantity In Stock</th>
                    </tr>
                </thead>

                <tbody>
                    
                    <tr v-for="product in products">
                        <td>{{product.productId}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.listPrice}}</td>
                        <td>{{product.quantityInStock}}</td>
                    </tr>

                </tbody>
            </table>
        </main>
        <script type="module" src="js/view-products.js"></script>
    </body>
</html>
